* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
}

main {
  width: 85%;
  padding-left: 44px;
  padding-right: 44px;
}

ul,
ol {
  list-style: none;
  color: #606060;
}

a {
  display: block;
  text-decoration: none;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

strong {
  font-size: 12px;
  font-family: "S-Core Dream 4 Regular";
  font-color: #333;
}

span {
  display: block;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

h1 {
  font-font-size: 24px;
  font-font-family: "S-Core Dream 5 Medium";
}

h2 {
  font-size: 21px;
  font-family: "S-Core Dream 5 Medium";
}

h3 {
  font-size: 18px;
  font-family: "S-Core Dream 5 Medium";
}

h4 {
  font-size: 16px;
  display: block;
}

h5 {
  font-size: 14px;
  color: #fff;
}

p {
  font-size: 14px;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

address {
  font-style: normal;
  font-size: 14px;
  color: #606060;
}

body {
  width: 100%;
  background-color: aquamarine;
}

header .web_menu {
  position: fixed;
  left: 0;
  width: 288px;
  height: 100%;
  padding: 50px 22px 30px 22px;
  background-color: #fff;
  border-right: 1px solid #606060;
  z-index: 999;
}

header .web_menu .logo {
  width: 100%;
  text-align: center;
}

header .web_menu .logo img {
  height: 46px;
}

header .web_menu .log {
  width: 100%;
  margin-top: 60px;
}

header .web_menu .log .logout {
  display: block;
  margin-bottom: 30px;
}

header .web_menu .log .logout .logout_img img {
  width: 75px;
  height: 75px;
}

header .web_menu .log .logout .login_button {
  margin-top: 20px;
  width: 150px;
  height: 33px;
  border: 3px solid #8a2ae3;
}

header .web_menu .log .logout .login_button a {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #8a2ae3;
}

header .web_menu .log .logout .login_button a img {
  margin-right: 5px;
  height: 13px;
}

header .web_menu .log .login {
  display: none;
  margin-bottom: 30px;
}

header .web_menu .log .login .login_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .web_menu .log .login .login_img img {
  width: 75px;
  height: 75px;
}

header .web_menu .log .login .login_img p {
  margin-left: 10px;
  line-height: 95px;
  font-size: 14px;
}

header .web_menu .log .login .login_img p strong {
  margin-right: 5px;
  font-size: 14px;
}

header .web_menu .log .login .logout_button {
  width: 150px;
  height: 33px;
  border: 1px solid #606060;
}

header .web_menu .log .login .logout_button a {
  text-align: center;
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 3px;
  color: #606060;
}

header .web_menu .search {
  width: 100%;
  height: 45px;
  border-radius: 15px;
  background-color: #f5f5f5;
}

header .web_menu .search .search_ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  line-height: 45px;
}

header .web_menu .search .search_ico img {
  margin-right: 10px;
  width: 16px;
  color: #606060;
}

header .web_menu .search .search_ico p {
  font-size: 14px;
}

header .web_menu .contents {
  margin-top: 50px;
  margin-bottom: 80px;
  width: 100%;
}

header .web_menu .contents .menu_1 .gnb_1 li a {
  font-size: 14px;
}

header .web_menu .contents .menu_1 .gnb_1 li a img {
  margin-right: 5px;
  width: 13px;
}

header .web_menu .contents .dotted_line {
  margin: 38px 0;
  width: 100%;
  border: 1px dashed #606060;
}

header .web_menu .contents .menu_2 .gnb_2 li a {
  font-size: 14px;
}

header .web_menu .contents .menu_2 .gnb_2 li a img {
  margin-right: 5px;
  width: 13px;
}

header .web_menu .contents .dotted_line {
  margin: 30px 0;
  width: 100%;
  border: 1px dashed #606060;
}

header .web_menu .contents .menu_3 .gnb_3 li a {
  margin-left: 25px;
  font-size: 14px;
}

header .web_menu .music_box {
  padding: 13px 5px;
  border: 2px solid #8a2ae3;
  width: 100%;
  height: 105px;
}

header .web_menu .music_box p {
  text-align: center;
  font-size: 12px;
}

header .web_menu .music_box .music_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .web_menu .music_box .music_time span {
  font-size: 10px;
}

header .web_menu .music_box .music_bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

header .web_menu .music_box .music_bar .bar_1 {
  position: absolute;
  border: 1px solid #bbb;
  width: 100%;
}

header .web_menu .music_box .music_bar .bar_2 {
  position: absolute;
  border: 1px solid #606060;
  width: 30%;
}

header .web_menu .music_box .music_bar .circle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30%;
  border-radius: 50%;
  background-color: #606060;
}

header .web_menu .music_box .music_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 6px;
}

header .web_menu .music_box .music_button img {
  height: 15px;
}

header .web_menu .music_box .music_button img:nth-child(3) {
  height: 18px;
}

main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  background-color: antiquewhite;
}

main .djplay_list {
  width: 376px;
}

main .djplay_list h2 {
  margin-bottom: 5px;
}

main .djplay_list .djplay_1 .order_1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7b8892;
  width: 376px;
  height: 50px;
  background-color: #fff;
}

main .djplay_list .djplay_1 .order_1 .crown_1 {
  position: relative;
  width: 34px;
  height: 34px;
  margin-left: 10px;
}

main .djplay_list .djplay_1 .order_1 .crown_1 img {
  position: absolute;
  margin-top: 5px;
  width: 24px;
}

main .djplay_list .djplay_1 .order_1 .crown_1 p {
  position: absolute;
  text-align: center;
  width: 24px;
  height: 34px;
  line-height: 37px;
  font-size: 8px;
  color: #fff;
}

main .djplay_list .djplay_1 .order_1 .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .djplay_list .djplay_1 .order_1 .id img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

main .djplay_list .djplay_1 .order_1 .id p {
  line-height: 34px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
}

main .djplay_list .djplay_1 .order_1 .surge {
  position: absolute;
  right: 35px;
}

main .djplay_list .djplay_1 .order_1 .surge p {
  font-size: 10px;
}

main .djplay_list .djplay_1 .order_1 .surge p img {
  width: 8px;
  margin-right: 5PX;
}

main .djplay_list .djplay_1 .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px;
  border: 1px solid #7b8892;
  border-top: 0;
  border-bottom: 0;
  width: 376px;
  height: 348px;
  background-color: #fff;
}

main .djplay_list .djplay_1 .profile .story {
  margin: 25px 0;
  width: 100%;
}

main .djplay_list .djplay_1 .profile .story p {
  font-size: 12px;
  display: inline-block;
  line-height: 25px;
  color: #525c63;
}

main .djplay_list .djplay_1 .profile .story p strong {
  margin-right: 10px;
  display: inline-block;
  width: 62px;
  height: 25px;
  text-align: center;
  color: #fff;
  background-color: #7b8892;
}

main .djplay_list .djplay_1 .profile .follow {
  width: 30%;
}

main .djplay_list .djplay_1 .profile .follow p {
  font-size: 12px;
  line-height: 18px;
}

main .djplay_list .djplay_1 .profile .follow p span {
  display: inline;
  color: #db4242;
}

main .djplay_list .djplay_1 .profile .follow .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

main .djplay_list .djplay_1 .profile .follow .hashtag p {
  border: 1px solid #606060;
  border-radius: 20px;
  width: 50px;
  font-size: 9px;
  font-family: "S-Core Dream 2 ExtraLight";
  text-align: center;
}

main .djplay_list .djplay_1 .profile .album_name {
  width: 15%;
  margin-top: -10px;
}

main .djplay_list .djplay_1 .profile .album_name p {
  font-size: 12px;
  line-height: 37px;
}

main .djplay_list .djplay_1 .profile .album_bar {
  width: 55%;
}

main .djplay_list .djplay_1 .profile .album_bar span {
  border: 1px solid #606060;
  border-radius: 20px;
  height: 13px;
  color: #7b8892;
  background-color: #f5f5f5;
}

main .djplay_list .djplay_1 .profile .album_bar span:nth-child(1) {
  margin-bottom: 25px;
  width: 100%;
}

main .djplay_list .djplay_1 .profile .album_bar span:nth-child(2) {
  margin-bottom: 25px;
  width: 80%;
}

main .djplay_list .djplay_1 .profile .album_bar span:nth-child(3) {
  margin-bottom: 25px;
  width: 70%;
}

main .djplay_list .djplay_1 .profile .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_1 {
  width: 90px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_1 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_1 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_1 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_2 {
  width: 90px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_2 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_2 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_2 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_3 {
  width: 90px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_3 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_3 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_1 .profile .album .album_jacket_1_3 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_2 .order_2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7b8892;
  width: 376px;
  height: 50px;
  background-color: #fff;
}

main .djplay_list .djplay_2 .order_2 .crown_2 {
  position: relative;
  width: 34px;
  height: 34px;
  margin-left: 10px;
}

main .djplay_list .djplay_2 .order_2 .crown_2 img {
  position: absolute;
  margin-top: 5px;
  width: 24px;
}

main .djplay_list .djplay_2 .order_2 .crown_2 p {
  position: absolute;
  text-align: center;
  width: 24px;
  height: 34px;
  line-height: 37px;
  font-size: 8px;
  color: #fff;
}

main .djplay_list .djplay_2 .order_2 .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .djplay_list .djplay_2 .order_2 .id img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

main .djplay_list .djplay_2 .order_2 .id p {
  line-height: 34px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
}

main .djplay_list .djplay_2 .order_2 .surge {
  position: absolute;
  right: 35px;
}

main .djplay_list .djplay_2 .order_2 .surge p {
  font-size: 10px;
}

main .djplay_list .djplay_2 .order_2 .surge p img {
  width: 8px;
  margin-right: 5PX;
}

main .djplay_list .djplay_2 .profile {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px;
  border: 1px solid #7b8892;
  border-top: 0;
  border-bottom: 0;
  width: 376px;
  height: 348px;
  background-color: #fff;
}

main .djplay_list .djplay_2 .profile .story {
  margin: 25px 0;
  width: 100%;
}

main .djplay_list .djplay_2 .profile .story p {
  font-size: 12px;
  display: inline-block;
  line-height: 25px;
  color: #525c63;
}

main .djplay_list .djplay_2 .profile .story p strong {
  margin-right: 10px;
  display: inline-block;
  width: 62px;
  height: 25px;
  text-align: center;
  color: #fff;
  background-color: #7b8892;
}

main .djplay_list .djplay_2 .profile .follow {
  width: 30%;
}

main .djplay_list .djplay_2 .profile .follow p {
  font-size: 12px;
  line-height: 18px;
}

main .djplay_list .djplay_2 .profile .follow p span {
  display: inline;
  color: #db4242;
}

main .djplay_list .djplay_2 .profile .follow .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

main .djplay_list .djplay_2 .profile .follow .hashtag p {
  border: 1px solid #606060;
  border-radius: 20px;
  width: 50px;
  font-size: 9px;
  font-family: "S-Core Dream 2 ExtraLight";
  text-align: center;
}

main .djplay_list .djplay_2 .profile .album_name {
  width: 15%;
  margin-top: -10px;
}

main .djplay_list .djplay_2 .profile .album_name p {
  font-size: 12px;
  line-height: 37px;
}

main .djplay_list .djplay_2 .profile .album_bar {
  width: 55%;
}

main .djplay_list .djplay_2 .profile .album_bar span {
  border: 1px solid #606060;
  border-radius: 20px;
  height: 13px;
  color: #7b8892;
  background-color: #f5f5f5;
}

main .djplay_list .djplay_2 .profile .album_bar span:nth-child(1) {
  margin-bottom: 25px;
  width: 100%;
}

main .djplay_list .djplay_2 .profile .album_bar span:nth-child(2) {
  margin-bottom: 25px;
  width: 80%;
}

main .djplay_list .djplay_2 .profile .album_bar span:nth-child(3) {
  margin-bottom: 25px;
  width: 70%;
}

main .djplay_list .djplay_2 .profile .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_1 {
  width: 90px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_1 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_1 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_1 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_2 {
  width: 90px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_2 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_2 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_2 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_3 {
  width: 90px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_3 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_3 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_2 .profile .album .album_jacket_2_3 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_3 .order_3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7b8892;
  width: 376px;
  height: 50px;
  background-color: #fff;
}

main .djplay_list .djplay_3 .order_3 .crown_3 {
  position: relative;
  width: 34px;
  height: 34px;
  margin-left: 10px;
}

main .djplay_list .djplay_3 .order_3 .crown_3 img {
  position: absolute;
  margin-top: 5px;
  width: 24px;
}

main .djplay_list .djplay_3 .order_3 .crown_3 p {
  position: absolute;
  text-align: center;
  width: 24px;
  height: 34px;
  line-height: 37px;
  font-size: 8px;
  color: #fff;
}

main .djplay_list .djplay_3 .order_3 .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .djplay_list .djplay_3 .order_3 .id img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

main .djplay_list .djplay_3 .order_3 .id p {
  line-height: 34px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
}

main .djplay_list .djplay_3 .order_3 .surge {
  position: absolute;
  right: 35px;
}

main .djplay_list .djplay_3 .order_3 .surge p {
  font-size: 10px;
}

main .djplay_list .djplay_3 .order_3 .surge p img {
  width: 8px;
  margin-right: 5PX;
}

main .djplay_list .djplay_3 .profile {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px;
  border: 1px solid #7b8892;
  border-top: 0;
  border-bottom: 0;
  width: 376px;
  height: 348px;
  background-color: #fff;
}

main .djplay_list .djplay_3 .profile .story {
  margin: 25px 0;
  width: 100%;
}

main .djplay_list .djplay_3 .profile .story p {
  font-size: 12px;
  display: inline-block;
  line-height: 25px;
  color: #525c63;
}

main .djplay_list .djplay_3 .profile .story p strong {
  margin-right: 10px;
  display: inline-block;
  width: 62px;
  height: 25px;
  text-align: center;
  color: #fff;
  background-color: #7b8892;
}

main .djplay_list .djplay_3 .profile .follow {
  width: 30%;
}

main .djplay_list .djplay_3 .profile .follow p {
  font-size: 12px;
  line-height: 18px;
}

main .djplay_list .djplay_3 .profile .follow p span {
  display: inline;
  color: #db4242;
}

main .djplay_list .djplay_3 .profile .follow .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

main .djplay_list .djplay_3 .profile .follow .hashtag p {
  border: 1px solid #606060;
  border-radius: 20px;
  width: 50px;
  font-size: 9px;
  font-family: "S-Core Dream 2 ExtraLight";
  text-align: center;
}

main .djplay_list .djplay_3 .profile .album_name {
  width: 15%;
  margin-top: -10px;
}

main .djplay_list .djplay_3 .profile .album_name p {
  font-size: 12px;
  line-height: 37px;
}

main .djplay_list .djplay_3 .profile .album_bar {
  width: 55%;
}

main .djplay_list .djplay_3 .profile .album_bar span {
  border: 1px solid #606060;
  border-radius: 20px;
  height: 13px;
  color: #7b8892;
  background-color: #f5f5f5;
}

main .djplay_list .djplay_3 .profile .album_bar span:nth-child(1) {
  margin-bottom: 25px;
  width: 100%;
}

main .djplay_list .djplay_3 .profile .album_bar span:nth-child(2) {
  margin-bottom: 25px;
  width: 80%;
}

main .djplay_list .djplay_3 .profile .album_bar span:nth-child(3) {
  margin-bottom: 25px;
  width: 70%;
}

main .djplay_list .djplay_3 .profile .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_1 {
  width: 90px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_1 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_1 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_1 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_2 {
  width: 90px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_2 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_2 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_2 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_3 {
  width: 90px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_3 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_3 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_3 .profile .album .album_jacket_3_3 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_4 .order_4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7b8892;
  width: 376px;
  height: 50px;
  background-color: #fff;
}

main .djplay_list .djplay_4 .order_4 .crown_4 {
  width: 34px;
  height: 34px;
  margin-left: 10px;
}

main .djplay_list .djplay_4 .order_4 .crown_4 p {
  text-align: center;
  width: 24px;
  height: 34px;
  line-height: 37px;
  font-size: 8px;
  color: #606060;
}

main .djplay_list .djplay_4 .order_4 .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .djplay_list .djplay_4 .order_4 .id img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

main .djplay_list .djplay_4 .order_4 .id p {
  line-height: 34px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
}

main .djplay_list .djplay_4 .order_4 .surge {
  position: absolute;
  right: 35px;
}

main .djplay_list .djplay_4 .order_4 .surge p {
  font-size: 10px;
}

main .djplay_list .djplay_4 .order_4 .surge p img {
  width: 8px;
  margin-right: 5PX;
}

main .djplay_list .djplay_4 .profile {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px;
  border: 1px solid #7b8892;
  border-top: 0;
  border-bottom: 0;
  width: 376px;
  height: 348px;
  background-color: #fff;
}

main .djplay_list .djplay_4 .profile .story {
  margin: 25px 0;
  width: 100%;
}

main .djplay_list .djplay_4 .profile .story p {
  font-size: 12px;
  display: inline-block;
  line-height: 25px;
  color: #525c63;
}

main .djplay_list .djplay_4 .profile .story p strong {
  margin-right: 10px;
  display: inline-block;
  width: 62px;
  height: 25px;
  text-align: center;
  color: #fff;
  background-color: #7b8892;
}

main .djplay_list .djplay_4 .profile .follow {
  width: 30%;
}

main .djplay_list .djplay_4 .profile .follow p {
  font-size: 12px;
  line-height: 18px;
}

main .djplay_list .djplay_4 .profile .follow p span {
  display: inline;
  color: #db4242;
}

main .djplay_list .djplay_4 .profile .follow .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

main .djplay_list .djplay_4 .profile .follow .hashtag p {
  border: 1px solid #606060;
  border-radius: 20px;
  width: 50px;
  font-size: 9px;
  font-family: "S-Core Dream 2 ExtraLight";
  text-align: center;
}

main .djplay_list .djplay_4 .profile .album_name {
  width: 15%;
  margin-top: -10px;
}

main .djplay_list .djplay_4 .profile .album_name p {
  font-size: 12px;
  line-height: 37px;
}

main .djplay_list .djplay_4 .profile .album_bar {
  width: 55%;
}

main .djplay_list .djplay_4 .profile .album_bar span {
  border: 1px solid #606060;
  border-radius: 20px;
  height: 13px;
  color: #7b8892;
  background-color: #f5f5f5;
}

main .djplay_list .djplay_4 .profile .album_bar span:nth-child(1) {
  margin-bottom: 25px;
  width: 100%;
}

main .djplay_list .djplay_4 .profile .album_bar span:nth-child(2) {
  margin-bottom: 25px;
  width: 80%;
}

main .djplay_list .djplay_4 .profile .album_bar span:nth-child(3) {
  margin-bottom: 25px;
  width: 70%;
}

main .djplay_list .djplay_4 .profile .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_1 {
  width: 90px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_1 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_1 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_1 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_2 {
  width: 90px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_2 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_2 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_2 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_3 {
  width: 90px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_3 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_3 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_4 .profile .album .album_jacket_4_3 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_5 .order_5 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7b8892;
  width: 376px;
  height: 50px;
  background-color: #fff;
}

main .djplay_list .djplay_5 .order_5 .crown_5 {
  width: 34px;
  height: 34px;
  margin-left: 10px;
}

main .djplay_list .djplay_5 .order_5 .crown_5 p {
  text-align: center;
  width: 24px;
  height: 34px;
  line-height: 37px;
  font-size: 8px;
  color: #606060;
}

main .djplay_list .djplay_5 .order_5 .id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .djplay_list .djplay_5 .order_5 .id img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

main .djplay_list .djplay_5 .order_5 .id p {
  line-height: 34px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
}

main .djplay_list .djplay_5 .order_5 .surge {
  position: absolute;
  right: 35px;
}

main .djplay_list .djplay_5 .order_5 .surge p {
  font-size: 10px;
}

main .djplay_list .djplay_5 .order_5 .surge p img {
  width: 8px;
  margin-right: 5PX;
}

main .djplay_list .djplay_5 .profile {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px;
  border: 1px solid #7b8892;
  border-top: 0;
  border-bottom: 0;
  width: 376px;
  height: 348px;
  background-color: #fff;
}

main .djplay_list .djplay_5 .profile .story {
  margin: 25px 0;
  width: 100%;
}

main .djplay_list .djplay_5 .profile .story p {
  font-size: 12px;
  display: inline-block;
  line-height: 25px;
  color: #525c63;
}

main .djplay_list .djplay_5 .profile .story p strong {
  margin-right: 10px;
  display: inline-block;
  width: 62px;
  height: 25px;
  text-align: center;
  color: #fff;
  background-color: #7b8892;
}

main .djplay_list .djplay_5 .profile .follow {
  width: 30%;
}

main .djplay_list .djplay_5 .profile .follow p {
  font-size: 12px;
  line-height: 18px;
}

main .djplay_list .djplay_5 .profile .follow p span {
  display: inline;
  color: #db4242;
}

main .djplay_list .djplay_5 .profile .follow .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

main .djplay_list .djplay_5 .profile .follow .hashtag p {
  border: 1px solid #606060;
  border-radius: 20px;
  width: 50px;
  font-size: 9px;
  font-family: "S-Core Dream 2 ExtraLight";
  text-align: center;
}

main .djplay_list .djplay_5 .profile .album_name {
  width: 15%;
  margin-top: -10px;
}

main .djplay_list .djplay_5 .profile .album_name p {
  font-size: 12px;
  line-height: 37px;
}

main .djplay_list .djplay_5 .profile .album_bar {
  width: 55%;
}

main .djplay_list .djplay_5 .profile .album_bar span {
  border: 1px solid #606060;
  border-radius: 20px;
  height: 13px;
  color: #7b8892;
  background-color: #f5f5f5;
}

main .djplay_list .djplay_5 .profile .album_bar span:nth-child(1) {
  margin-bottom: 25px;
  width: 100%;
}

main .djplay_list .djplay_5 .profile .album_bar span:nth-child(2) {
  margin-bottom: 25px;
  width: 80%;
}

main .djplay_list .djplay_5 .profile .album_bar span:nth-child(3) {
  margin-bottom: 25px;
  width: 70%;
}

main .djplay_list .djplay_5 .profile .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_1 {
  width: 90px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_1 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_1 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_1 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_2 {
  width: 90px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_2 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_2 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_2 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_3 {
  width: 90px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_3 .album_jacket img {
  width: 90px;
  height: 90px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_3 .album_title p {
  font-size: 11px;
}

main .djplay_list .djplay_5 .profile .album .album_jacket_5_3 .album_title p img {
  width: 11px;
  margin-right: 5px;
}

main .taste {
  position: relative;
  width: 936px;
  height: 160px;
}

main .taste .taste_text {
  position: absolute;
  padding: 20px;
  width: 936px;
  z-index: 998;
  line-height: 28px;
}

main .taste .taste_text p {
  font-size: 18px;
  font-family: "S-Core Dream 5 Medium";
}

main .taste .taste_text p strong {
  font-size: 18px;
  color: #8a2ae3;
  font-family: "S-Core Dream 7 ExtraBold";
}

main .taste .taste_text .text p {
  font-size: 13px;
  font-family: "S-Core Dream 3 Light";
}

main .taste .taste_text button {
  margin-top: 18px;
  border: 0;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
  color: #fff;
  background-color: #8a2ae3;
}

main .taste .taste_bg_img {
  position: absolute;
}

main .taste .taste_bg_img img {
  width: 936px;
  height: 160px;
}

footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  bottom: 0;
  width: 85%;
  padding-left: 44px;
  padding-right: 44px;
  background-color: violet;
}

footer .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  width: 936px;
  height: 154px;
  background-color: #fff;
}

footer .flex-box .footer-logo {
  width: 77px;
  line-height: 169px;
}

footer .flex-box .footer-logo a {
  width: 100%;
}

footer .flex-box .footer-logo a img {
  width: 100%;
}

footer .flex-box .info-box {
  margin-left: 30px;
}

footer .flex-box .info-box .notice-menu {
  margin-bottom: 30px;
}

footer .flex-box .info-box .notice-menu .title-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex-box .info-box .notice-menu .title-flex h4 {
  margin-right: 20px;
}

footer .flex-box .info-box nav {
  margin-bottom: 20px;
}

footer .flex-box .info-box nav .footer_info .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex-box .info-box nav .footer_info .footer-menu li {
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #606060;
}

footer .flex-box .info-box nav .footer_info .footer-menu li:first-child ~ li {
  padding-left: 10px;
}

footer .flex-box .info-box nav .footer_info .footer-menu li:last-child {
  border-right: 0;
}

footer .flex-box .info-box nav .footer_info .footer-menu li a {
  color: #606060;
}

footer .flex-box .info-box address {
  font-size: 12px;
  font-family: "S-Core Dream 3 Light";
}
/*# sourceMappingURL=index.css.map */