@mixin responsive($break) {
    @if $break == mobile-screens {
        @media screen and (min-width:$break-mobile) {
            @content;
        }
    }

    @else if $break == pc-screens {
        @media screen and (min-width:$break-pc) {
            @content;
        }
    }
}

@mixin order() {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #7b8892;
    width: 376px; height: 50px;
    background-color: $back_color;
}

@mixin profile-flex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 32px;
    border: 1px solid #7b8892;
    border-top: 0;
    border-bottom: 0;
    width: 376px; height: 372px;
    background-color: $back_color;
}

@mixin profile-none() {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 32px;
    border: 1px solid #7b8892;
    border-top: 0;
    border-bottom: 0;
    width: 376px; height: 372px;
    background-color: $back_color;
}

@mixin story() {
    margin: 25px 0;
    width: 100%;

    p {
        font-size: 12px;
        display: inline-block;
        line-height: 25px;
        color: $font-color_3;

        strong {
            margin-right: 10px;
            display: inline-block;
            width: 62px; height: 25px;
            text-align: center;
            color: $font-color;
            background-color: $back_color_1
        }
    }
}

@mixin album_jacket() {
    width: 90px;

    .album_jacket {
        img {
            width: 90px; height: 90px;
        }
    }

    .album_title {
        p {
            font-size: 11px;
            img {
                width: 11px;
                margin-right: 5px;
            }
        }
    }
}



@mixin main-slide() {
    text-align: left;
    background: url(../image/main-slide_board_1.png)no-repeat;
    background-size: cover;
    width: 936px;
    height: 320px;
    
    .title-music-flexbox {
        display: flex;
        padding-top: 58px;
        width: 936px;
        .main-title {
            padding-left: 70px;
            h1 {
                color: $h1_font-color_1;
                padding-bottom: 20px;
            }
            a {
                font-size: 17px;
                color: $h1_font-color_1;
                font-family: 'S-CoreDream-3Light';
            }
           
        }
    
        .main-music-flex-box {
            display: flex;
            margin-left: 52px;
            .musicbox-1 {
                .music {
                    display: flex;
                    margin-right: 18px;
                    img {
                        width: 56px;
                        height: 56px;
                    }
                    p {
                        margin: 17px 15px;
                        width: 200px;
                        a {
                            &:first-child{
                                font-size: 13px;
                                color: $h1_font-color_1;
                            }
    
                            &:nth-child(2) {
                                font-size: 12px;
                                color: $font-slide-artist;
                            }
                        }
                    }
                }
            }
        }// main-music-flex-box 
    } //title-music-flexbox
    .button {
        display: flex;
        justify-content: space-between;
        margin-top: -115px;
        padding: 0 10px;
        .prev {
            img {
                width: 19px;
                height: 40px;
            }
        }
        .next {
            img {
                
                width: 19px;
                height: 40px;
            }
        }
    }
}

@mixin music-playlist() {
    text-align: left;
    h2 {
        color: $h2_font-color_1;
        margin-bottom: 5px;
    }
    a {
        img {
            width: 200px;
            height: 200px;
        }
    }
    .title {
        font-size: 14px;
        color: $h2_font-color_1;
        font-family: 'S-CoreDream-5Medium';
    }
    .artist {
        font-size: 13px;
        color: $font-slide-artist;
        font-family: 'S-CoreDream-4Regular';
        width: 200px;
    }
}

