* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: {
        size: 16px;
    }
}

main {
   position: relative;
}

ul,
ol {
    list-style: none;
    color: $font-color_1;
}

a {
    display: block;
    text-decoration: none;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

strong {
    font: {
        size: 12px;
        font-family: 'S-CoreDream-4Regular';
        color: $strong-color;
    }
    
}

span {
    display: block;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

h1 {
    display: none;
    font: {
        font-size: 24px;
        font-family: 'S-CoreDream-5Medium';
    }
}

h2 {
    font-size: 21px;
    font-family: 'S-CoreDream-5Medium';
}

h3 {
    font-size: 18px;
    font-family: 'S-CoreDream-5Medium';
}

h4 {
    font-size: 16px;
    display: block;
}

h5 {
    font-size: 14px;
    color: $font-color;
}

p {
    font-size: 14px;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

.like-txt {
    padding: 5px 0 10px 10px;
    border: {
        top: $border_color2;
    };
}

.profile-sp {
    float: left;
    span {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
}

.heart-img {
    width: 15px;
    margin-top: 5px;
}

.comment-txt {
    padding: 10px;
    border: $border_color2;
    border-top: 0;
    a {
        font-weight: 600;
    }
}

address {
    font-style: normal;

    font: {
        size: 14px;
    }
    color: #606060;
}
