
$h1_font-color_1: #fff;
$h2_font-color_1: #333;

$a-color: #fff;
$strong-color: #333;

$font-color: #fff;
$font-color_1: #606060;
$font-color_2: #8a2ae3;
$font-color_3: #525c63;

$back_color: #fff;
$back_color_1: #7b8892;
$back_color_2: #f5f5f5;

$break-pc: 1200px;

$font-1: 'S-Core Dream 1 Thin';
$font-2: 'S-Core Dream 2 ExtraLight';
$font-3: 'S-Core Dream 3 Light';
$font-4: 'S-Core Dream 4 Regular';
$font-5: 'S-Core Dream 5 Medium';
$font-6: 'S-Core Dream 6 Bold';
$font-7: 'S-Core Dream 7 ExtraBold';
$font-8: 'S-Core Dream 8 Heavy';
$font-9: 'S-Core Dream 9 Black';

$footer_color: #606060;
$border_color: #606060;
$border_color_1: #7b8892;