* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 16px;
}

main {
  position: relative;
}

ul,
ol {
  list-style: none;
  color: #606060;
}

a {
  display: block;
  text-decoration: none;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

strong {
  font-size: 12px;
  font-family: "S-Core Dream 4 Regular";
  font-color: #333;
}

span {
  display: block;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

h1 {
  font-font-size: 24px;
  font-font-family: "S-Core Dream 5 Medium";
}

h2 {
  font-size: 21px;
  font-family: "S-Core Dream 5 Medium";
}

h3 {
  font-size: 18px;
  font-family: "S-Core Dream 5 Medium";
}

h4 {
  font-size: 16px;
  display: block;
}

h5 {
  font-size: 14px;
  color: #fff;
}

p {
  font-size: 14px;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

address {
  font-style: normal;
  font-size: 14px;
  color: #606060;
}

body {
  width: 100%;
}

header {
  width: 100%;
}

header .logo {
  width: 100%;
}

header .logo img {
  margin: 55px 0;
  height: 32px;
}

main {
  width: 100%;
}

main .login-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .login-flex .login-page {
  width: 320px;
  height: 554px;
  padding: 0 12px;
  border: 1px solid #7b8892;
  background-color: #fff;
}

main .login-flex .login-page .id-pw input {
  border: 0;
  border-bottom: 1px solid #7b8892;
  text-align: left;
  width: 100%;
  height: 40px;
  font-family: "S-Core Dream 4 Regular";
  font-size: 13px;
  color: #7b8892;
}

main .login-flex .login-page .id-pw-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}

main .login-flex .login-page .id-pw-find label {
  margin-right: 94px;
  font-size: 10px;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

main .login-flex .login-page .id-pw-find a {
  padding-left: 12px;
  font-size: 10px;
}

main .login-flex .login-page .id-pw-find a:last-child {
  border-right: 0;
}

main .login-flex .login-page .login-button a {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #8a2ae3;
}

main .login-flex .login-page .sns-login P {
  margin: 30px 0 23px 0;
  font-size: 11px;
}

main .login-flex .login-page .sns-button {
  width: 100%;
}

main .login-flex .login-page .sns-button button {
  border: 0;
  border-bottom: 1px solid #7b8892;
  width: 100%;
  height: 40px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
  color: #333;
  background-color: #fff;
}

main .login-flex .login-page .sns-button img {
  width: 19px;
}

main .login-flex .login-page .member-button a {
  margin-top: 32px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #8a2ae3;
}

main .login-flex .login-page .member-ship {
  margin-top: 24px;
}

main .login-flex .login-page .member-ship p {
  font-size: 11px;
  display: inline;
}

main .login-flex .login-page .member-ship a {
  display: inline;
}

main .login-flex .login-page .member-ship a img {
  height: 9px;
}

footer {
  width: 100%;
}

footer nav {
  width: 100%;
}

footer nav .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

footer nav .footer-menu li {
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #606060;
}

footer nav .footer-menu li:first-child ~ li {
  padding-left: 10px;
}

footer nav .footer-menu li:last-child {
  border-right: 0;
}

footer nav .footer-menu li a {
  color: #606060;
}

footer address {
  margin-top: 45px;
  font-size: 12px;
  font-family: "S-Core Dream 3 Light";
}
/*# sourceMappingURL=contract.css.map */