* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 16px;
}

main {
  position: relative;
}

ul,
ol {
  list-style: none;
  color: #606060;
}

a {
  display: block;
  text-decoration: none;
  font-family: 'S-CoreDream-4Regular';
  color: #606060;
}

strong {
  font-size: 12px;
  font-font-family: 'S-CoreDream-4Regular';
  font-color: #333;
}

span {
  display: block;
  font-family: 'S-CoreDream-4Regular';
  color: #606060;
}

h1 {
  font-font-size: 24px;
  font-font-family: 'S-CoreDream-5Medium';
}

h2 {
  font-size: 21px;
  font-family: 'S-CoreDream-5Medium';
}

h3 {
  font-size: 18px;
  font-family: 'S-CoreDream-5Medium';
}

p {
  font-size: 14px;
  font-family: 'S-CoreDream-4Regular';
  color: #606060;
}

address {
  font-style: normal;
  font-size: 14px;
  color: #606060;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-1Thin';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-8Heavy';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
}

header {
  width: 100%;
}

header .logo {
  width: 100%;
}

header .logo img {
  margin: 55px 0;
  height: 32px;
}

main {
  width: 100%;
}

main .contract-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contract-flex .contract-page {
  width: 320px;
  height: 554px;
  padding: 0 12px;
  border: 1px solid #7b8892;
  background-color: #fff;
}

main .contract-flex .contract-page .agree {
  margin: 40px 0 20px 0;
}

main .contract-flex .contract-page .agree p {
  font-size: 16px;
  font-family: 'S-CoreDream-5Medium';
  color: #333;
}

main .contract-flex .contract-page .check-1 {
  height: 73px;
  padding: 23px 0 16px 5px;
  border: 1px solid #7b8892;
  text-align: left;
}

main .contract-flex .contract-page .check-1 button {
  border: 0;
  background-color: #fff;
}

main .contract-flex .contract-page .check-1 button:nth-child(2) {
  display: none;
}

main .contract-flex .contract-page .check-1 button img {
  width: 15px;
}

main .contract-flex .contract-page .check-1 p {
  display: inline;
  font-size: 13px;
  color: #333;
}

main .contract-flex .contract-page .check-1 span {
  text-align: left;
  font-size: 10px;
}

main .contract-flex .contract-page .check-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0 16px 5px;
  height: 73px;
  border-right: 1px solid #7b8892;
  border-left: 1px solid #7b8892;
  text-align: left;
}

main .contract-flex .contract-page .check-2 button {
  border: 0;
  background-color: #fff;
}

main .contract-flex .contract-page .check-2 button:nth-child(2) {
  display: none;
}

main .contract-flex .contract-page .check-2 button img {
  width: 15px;
}

main .contract-flex .contract-page .check-2 p {
  display: inline;
  font-size: 13px;
  color: #333;
}

main .contract-flex .contract-page .check-2 p strong {
  margin-left: 6px;
  font-size: 13px;
  color: #8a2ae3;
}

main .contract-flex .contract-page .check-2 .arrow-1 {
  margin-left: 85px;
}

main .contract-flex .contract-page .check-2 .arrow-1 img {
  height: 15px;
}

main .contract-flex .contract-page .check-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 16px 5px;
  height: 73px;
  border-right: 1px solid #7b8892;
  border-left: 1px solid #7b8892;
  text-align: left;
}

main .contract-flex .contract-page .check-3 button {
  border: 0;
  background-color: #fff;
}

main .contract-flex .contract-page .check-3 button:nth-child(2) {
  display: none;
}

main .contract-flex .contract-page .check-3 button img {
  width: 15px;
}

main .contract-flex .contract-page .check-3 p {
  display: inline;
  font-size: 13px;
  color: #333;
}

main .contract-flex .contract-page .check-3 p strong {
  margin-left: 6px;
  font-size: 13px;
  color: #8a2ae3;
}

main .contract-flex .contract-page .check-3 .arrow-2 {
  margin-left: 66px;
}

main .contract-flex .contract-page .check-3 .arrow-2 img {
  height: 15px;
}

main .contract-flex .contract-page .check-4 {
  height: 77px;
  padding: 0 0 20px 5px;
  border: 1px solid #7b8892;
  border-top: 0;
  text-align: left;
}

main .contract-flex .contract-page .check-4 button {
  border: 0;
  background-color: #fff;
}

main .contract-flex .contract-page .check-4 button:nth-child(2) {
  display: none;
}

main .contract-flex .contract-page .check-4 button img {
  width: 15px;
}

main .contract-flex .contract-page .check-4 p {
  display: inline;
  font-size: 13px;
  color: #333;
}

main .contract-flex .contract-page .check-4 p strong {
  font-size: 13px;
}

main .contract-flex .contract-page .check-4 span {
  text-align: left;
  font-size: 10px;
}

main .contract-flex .contract-page .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 58px;
}

main .contract-flex .contract-page .button a {
  width: 136px;
  padding: 10px;
  border: 2px solid #7b8892;
  border-radius: 12px;
  font-size: 13px;
  font-family: 'S-CoreDream-5Medium';
}

main .contract-flex .contract-page .button a:nth-child(2) {
  border: 2px solid #8a2ae3;
  color: #8a2ae3;
}

footer {
  width: 100%;
}

footer nav {
  width: 100%;
}

footer nav .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

footer nav .footer-menu li {
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #606060;
}

footer nav .footer-menu li:first-child ~ li {
  padding-left: 10px;
}

footer nav .footer-menu li:last-child {
  border-right: 0;
}

footer nav .footer-menu li a {
  color: #606060;
}

footer address {
  margin-top: 45px;
  font-size: 12px;
  font-family: 'S-CoreDream-3Light';
}
/*# sourceMappingURL=contract.css.map */