* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: {
        size: 16px;
    }
}

main {
   position: relative;
}

section {
    h2 {
        display: none;
    }
}

article {
    h2 {
        display: none;
    }
}

.top100 {
    padding-top: 50px;
    width: 936px;
    text-align: left;
}

ul,
ol {
    list-style: none;
    color: $font-color_1;
}

a {
    display: block;
    text-decoration: none;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

strong {
    font-size: 12px;
    font-family: 'S-CoreDream-4Regular';
    color: $strong-color;
}

span {
    display: block;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

h1 {
    font-size: 24px;
    font-family: 'S-CoreDream-6Bold';
}

h2 {
    font-size: 21px;
    padding-left: 5px;
    border-left: 4px solid #8a2ae3;
    font-family: 'S-CoreDream-5Medium';
}

h3 {
    font-size: 18px;
    font-family: 'S-CoreDream-5Medium';
}

h4 {
    display: block;
    font-size: 16px;
}

h5 {
    font-size: 14px;
    color: $font-color;
}

p {
    font-size: 14px;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

address {
    font-size: 14px;
    font-style: normal;
    color: $font-color_1;
}
