
$h1_font-color_1: #fff;
$h2_font-color_1: #333;
$h3_font-color_1:#7B8892;

$a-color: #fff;

$strong-color: #333;
$strong-color2: #7B8892;

$a-color: white;

$font-color: #fff;
$font-color_1: #606060;
$font-color_2: #8a2ae3;
$font-color_3: #525c63;
$font-color_4: #7B8892;

$span-bgy: #F7CB41;
$span-bgp: #F4B8CE;
$span-bgb: #4340EF;
$span-bgn: #192758;
$span-bgg: #DDE7F1;
$span-bgg2: #7B8892;

$back_color: #fff;
$back_color_1: #7b8892;
$back_color_2: #f5f5f5;
$back_color_3: #8a2ae3;
$back_color4: #606060;

$font-slide-artist: #7b8892;
$white: white;
$black: black;

$btn_backColor1: #3DB8FC;
$btn_color: #fff;

$break-pc: 1200px;

$font-1: 'S-Core Dream 1 Thin';
$font-2: 'S-Core Dream 2 ExtraLight';
$font-3: 'S-Core Dream 3 Light';
$font-4: 'S-Core Dream 4 Regular';
$font-5: 'S-Core Dream 5 Medium';
$font-6: 'S-Core Dream 6 Bold';
$font-7: 'S-Core Dream 7 ExtraBold';
$font-8: 'S-Core Dream 8 Heavy';
$font-9: 'S-Core Dream 9 Black';

$footer_color: #606060;
$border_color: #606060;
$border_color_1: #7b8892;
$border_color2: 1px solid #7B8892;
$border_color3: 1px solid #A1ADB5;
$border_color4: 1px solid #606060;

$border_color5: 1px solid #8A2AE3;
$border_color6: 1px solid #BABABA;
