* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
}

main {
  position: relative;
}

ul,
ol {
  list-style: none;
  color: #606060;
}

a {
  display: block;
  text-decoration: none;
  font-family: 'S-CoreDream-4Regular';
  color: #606060;
}

strong {
  font-size: 12px;
  font-font-family: 'S-CoreDream-4Regular';
  font-color: #333;
}

span {
  display: block;
  font-family: 'S-CoreDream-4Regular';
  color: #606060;
}

h1 {
  font-font-size: 24px;
  font-font-family: 'S-CoreDream-5Medium';
}

h2 {
  font-size: 21px;
  font-family: 'S-CoreDream-5Medium';
}

h3 {
  font-size: 16px;
  font-family: 'S-CoreDream-5Medium';
}

h4 {
  font-size: 13px;
  display: block;
}

h5 {
  font-size: 14px;
  color: #fff;
}

p {
  font-size: 14px;
  font-family: 'S-CoreDream-4Regular';
  color: #606060;
}

address {
  font-style: normal;
  font-size: 14px;
  color: #606060;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-1Thin';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-8Heavy';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
}

header {
  width: 100%;
}

header .spread-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 936px;
  height: 85px;
  margin: 0 auto;
}

header .spread-logo a {
  line-height: 85px;
}

header .spread-logo a img {
  width: 66px;
}

header .spread-logo a p {
  font-size: 16px;
  font-family: 'S-CoreDream-5Medium';
  color: #606060;
}

main {
  width: 100%;
}

main .app {
  position: relative;
  width: 936px;
  height: 160px;
  margin: 0 auto;
}

main .app h2 {
  position: absolute;
  color: #fff;
  z-index: 999;
  line-height: 40px;
  padding: 44px;
}

main .app img {
  position: absolute;
  width: 936px;
}

main .promotion {
  width: 936px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

main .promotion h3 {
  margin-top: 40px;
  margin-bottom: 45px;
  font-size: 16px;
  font-family: 'S-CoreDream-5Medium';
  color: #333;
}

main .promotion p {
  font-size: 13px;
  font-family: 'S-CoreDream-4Regular';
  color: #606060;
}

main .promotion p strong {
  font-size: 13px;
  font-family: 'S-CoreDream-5Medium';
  color: #333;
}

main .process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 936px;
  height: 160px;
  margin: 0 auto;
}

main .process div {
  width: 320px;
  height: 144px;
  text-align: center;
  padding-top: 30px;
}

main .process .process-2 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

main .e-mail {
  width: 936px;
  height: 100%;
  margin: 0 auto;
}

main .e-mail a {
  width: 136px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background-color: #606060;
}

main .coalition {
  width: 936px;
  height: 100%;
  margin: 0 auto;
}

main .coalition strong {
  font-size: 13px;
  font-family: 'S-CoreDream-5Medium';
  color: #333;
}

main .coalition p {
  font-size: 13px;
  font-family: 'S-CoreDream-4Regular';
  color: #606060;
}

footer {
  width: 100%;
  margin-top: 80px;
}

footer .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 15px;
  width: 936px;
  height: 154px;
  background-color: #fff;
}

footer .flex-box .footer-logo {
  width: 77px;
  line-height: 169px;
}

footer .flex-box .footer-logo a {
  width: 100%;
}

footer .flex-box .footer-logo a img {
  width: 100%;
}

footer .flex-box .info-box {
  margin-left: 30px;
}

footer .flex-box .info-box .notice-menu {
  margin-bottom: 30px;
}

footer .flex-box .info-box .notice-menu .title-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex-box .info-box .notice-menu .title-flex h4 {
  margin-right: 20px;
}

footer .flex-box .info-box nav {
  margin-bottom: 20px;
}

footer .flex-box .info-box nav .footer_info .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex-box .info-box nav .footer_info .footer-menu li {
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #606060;
}

footer .flex-box .info-box nav .footer_info .footer-menu li:first-child ~ li {
  padding-left: 10px;
}

footer .flex-box .info-box nav .footer_info .footer-menu li:last-child {
  border-right: 0;
}

footer .flex-box .info-box nav .footer_info .footer-menu li a {
  color: #606060;
}

footer .flex-box .info-box address {
  text-align: left;
  font-size: 12px;
  font-family: 'S-CoreDream-3Light';
}
/*# sourceMappingURL=promotion.css.map */