@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
}

//====== header ======//
header {
    position: fixed;
    z-index: 100;
    height: 85px;
    line-height: 85px;
    background-color: #fff;
    .grid {
        display: flex;
        justify-content: space-between;
        .spread {
            color: $spread-color;
            font-family: 'BMDOHYEON';
        }
        .login {
            font-weight: 600;
        }
    }
}

//====== main ======//
main {
    .intro-title {
        .main-background {
            position: relative;
            .fixed-bg {
                height: 778px;
                background-color: blue;
            }
            .p-cir {
                position: absolute;
                bottom: 160px;
                left: 110px;
                width: 293px;
            }
            .p-cir2 {
                position: absolute;
                top: 260px;
                right: 220px;
                width: 155px;
            }
            .p-cross {
                position: absolute;
                top: 150px;
                left: 450px;
                width: 20px;
            }
            .p-line {
                position: absolute;
                bottom: 170px;
                right: 410px;
                width: 90px;
                height: 70px;
            }
            .wh-cir {
                position: absolute;
                top: 150px;
                right: 340px;
                width: 20px;
                height: 20px;
            }
            .wh-cir2 {
                position: absolute;
                bottom: 50px;
                left: 700px;
                width: 15px;
            }
            .wh-cir3 {
                position: absolute;
                top: 200px;
                left: 100px;
                width: 10px;
            }
            .wh-cir4 {
                position: absolute;
                top: 50px;
                right: 700px;
                width: 10px;
            }
            .wh-cross {
                position: absolute;
                bottom: 50px;
                left: 200px;
                width: 35px;
            }
            .wh-cross2 {
                position: absolute;
                bottom: 60px;
                right: 400px;
                width: 25px;
            }
            .wh-line {
                position: absolute;
                top: 0px;
                right: 500px;
                width: 90px;
                height: 70px;
            }
            .wh-line2 {
                position: absolute;
                bottom: 100px;
                left: 450px;
                width: 90px;
                height: 70px;
            }
        } //main-background

        .grid {
            .title-flexbox {
                position: absolute;
                top: 260px;
                left: 572px;
                display: flex;
                align-items: center;
                h1 {
                    padding-right: 100px;
                    font-weight: 300;
                }
                img {
                    width: 376px;
                    height: 376px;
                }
            }

            .title-des {
                position: absolute;
                bottom: 250px;
                p {
                    color: $white;
                }
                .window-apple-flexbox {
                    margin-top: 20px;
                    display: flex;
                    .window-flexbox {
                        display: flex;
                        border: 1px solid $white;
                        padding: 10px;
                        margin-right: 20px;
                        img {
                            width: 13px;
                        }
                        p {
                            margin-left: 5px;
                            font-size: 13px;
                        }
                    }
                    .apple-flexbox {
                        display: flex;
                        border: 1px solid $white;
                        padding: 10px;
                        img {
                            width: 13px;
                        }
                        p {
                            margin-left: 5px;
                            font-size: 13px;
                        }
                    }    
                } //window-apple-flexbox   
            } //title-des
        } //grid
    } //intro-title

    .intro-slide {
        background-color: $sect-bg-2;
        .grid {
            margin-top: -10px;
            height: 778px;
            text-align: center;
            h2 {
                line-height: 48px;
                padding: 159px 0 37px;
            }
            .slide-img-flexbox {
                display: flex;
                width: 936px;
                overflow: hidden;
                justify-content: center;
                padding-top: 70px;
                img {
                    width: 240px;
                    height: 240px;
                    margin: 0 20px;
                }
            }
        }
    } //intro-slide

    .intro-playlist {
        height: 778px;
        text-align: center;
        background-color: $sect-bg-1;
        h2 {
            color: $white;
            padding: 158px 0 33px;
        }
        p {
            color: $white;
        }
        .phone-album {
            display: flex;
            justify-content: center;
            .left-album {
                margin-top: 3px;
                width: 430px;
            }
            .phone {
                margin-top: 66px;
                width: 479px;
                height: 295px;
            }
            .right-album {
                margin-top: 23px;
                width: 400px;
            }
        }
    } //intro-playlist

    .intro-emoji {
        height: 778px;
        text-align: center;
        background-color: $sect-bg-2;
        h2 {
            padding: 160px 0 40px;
        }
        
        .phone-icon {
            display: flex;
            justify-content: center;
            margin-left: 250px;
            .left-icon {
                img {
                    margin-right: -100px;
                    width: 260px;
                }
            }
            .phone {
                margin-top: 102px;
                margin-right: 400px;
                width: 580px;
                height: 350px;
            }
            .right-icon {
                margin-top: 30px;
                img {
                    margin-left: -800px;
                    width: 350px;
                }
            }
        }
    } //intro-emoji

    .intro-mega-audio {
        height: 778px;
        background-color: $sect-bg-3;
        .grid {
            text-align: center;
            h2 {
                padding: 150px 0 45px;
                color: $white;
            }
            p {
                color: $white;
            }
            .audio-maga-flexbox {
                display: flex;
                padding-top: 58px;
                justify-content: space-between;
                img {
                    width: 456px;
                    height: 360px;
                }
            }
        }
    } // intro-mega-audio

    .intro-subscribe {
        background: url(../image/6.sect_bg.png) no-repeat;
        height: 778px;
        h1 {
            padding: 130px 0 50px;
            line-height: 90px;
        }
        .sub-collabo-flexbox {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            p {
                font-size: 16px;
                color: $p;
                margin-top: 50px;
            }
            .subscribe {
                border: 1px solid $white;
                border-bottom: none;
                border-top: none;
                padding: 50px 100px;
            }
            .collabo {
                border-right: 1px solid $white;
                padding: 40px 100px;
            }
        }

        .button {
            text-align: center;
            a {
                margin-top: 60px;
                color: $white;
                font-size: 24px;
                border: 1px solid $button;
                background-color: $button;
                padding: 10px 50px;
                display: inline-block;
            }
        }
        
    }
} //main


