* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 100%; // 모바일, 테블릿
    max-width: 936px; // pc
    margin: 0 auto;
}

header {
    width: 100%;
}

ul,
ol,
li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    font-size: 16px;
    display: block;
    color: $gray;
    text-decoration: none;
    font-family: $font-5;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
   font-size: 48px;
   font-family: $spread-font;
   color: $white;
}

h2 {
    font-size: 40px;
    font-family: $font-6;
    color: $gray;
}

p {
    font-size: 16px;
    font-family: $font-3;
    color: $gray;
}