$spread-color: #8a2ae3;
$gray: #606060;
$sect-bg-1: #3db8fc;
$sect-bg-2: #e8ebed;
$sect-bg-3: #120052;
$p: #858585;
$button: #353535;
$white: white;
$black: black;

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;