$h1-size: 26px;
$h1-family: BM DoHyeon;
$h1-weight: lighter;

$a-color: white;

$font-color: white;

$footer_color: #606060;
$border_color: #606060;


$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;