@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
}

//-------------------- header --------------------//
header {
    width: 100%;
    .logo {
        width: 100%;
        img {
            margin: 55px 0;
            height: 32px;
        }
    }
}

//-------------------- main --------------------//
main{
    width: 100%;
    .login-flex {
        display: flex;
        justify-content: center;
        
        .login-page {
            width: 320px; height: 554px;
            padding: 0 12px;
            border: 1px solid #7b8892;
            background-color: $back_color;
    
            .id-pw {
                input {
                    border: 0;
                    border-bottom: 1px solid #7b8892;
                    text-align: left;
                    width: 100%; height: 40px;
                    font-family: 'S-CoreDream-4Regular';
                    font-size: 13px;
                    color: #7b8892;
                }
            }
    
            .id-pw-find {
                display: flex;
                align-items: center;
                width: 100%; height: 60px;

                label {
                    margin-right: 94px;
                    font-size: 10px;
                    font-family: 'S-CoreDream-4Regular';
                    color: $font-color_1;
                }
    
                a {
                    padding-left: 12px;
                    font-size: 10px;
    
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
    
            .login-button {
                a {
                    width: 100%; height: 40px;
                    line-height: 40px;
                    color: $font-color;
                    background-color: $back_color_3;
                }
            }
            .sns-login {
                P {
                    margin: 30px 0 23px 0;
                    font-size: 11px;
                }
            }
    
            .sns-button {
                width: 100%;

                button {
                    border: 0;
                    border-bottom: 1px solid #7b8892;
                    width: 100%; height: 40px;
                    font-size: 13px;
                    font-family: 'S-CoreDream-5Medium';
                    color: #333;
                    background-color: $back_color;
                }
                img {
                    width: 19px;
                }
            }

            .member-button {
                a {
                    margin-top: 32px;
                    width: 100%; height: 40px;
                    line-height: 40px;
                    color: $font-color;
                    background-color: $back_color_3;
                }
            }
    
            .member-ship {
                margin-top: 24px;

                p {
                    font-size: 11px;
                    display: inline;
                }

                a {
                    display: inline;
                    img {
                        height: 9px;
                    }
                }
            }
        }
    }
}

//-------------------- footer --------------------//
footer{
    width: 100%;

    nav {
        width: 100%;

        .footer-menu {
            display: flex;
            justify-content: center;
            margin-top: 80px;

            li {
                font-size: 12px;
                padding-right: 10px;
                border-right: 1px solid $border_color;
                &:first-child ~ li {
                    padding-left: 10px;
                }

                &:last-child {
                    border-right: 0;
                }
                
                a {
                    color : $footer_color;
                }
            }
        }
    }

    address {
        margin-top: 45px;
        font-size: 12px;
        font-family: 'S-CoreDream-3Light';
    }
}