@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
}

//-------------------- main --------------------//
main {
    width: 100%;
    margin-top: 50px;

    .business {
        width: 936px; height: 100%;
        margin: 0 auto;

        .table {
            width: 936px;
            border: 1px solid;
        }
        table,
        th, td {
            border: 1px solid;
            border-collapse: collapse;
        }
    
        th, td {
            text-align: center;
            font-family: 'S-CoreDream-5Medium';
            color: #333;
        }

        th {
            padding: 15px;
            font-size: 16px;
        }

        td {
            padding: 15px 85px;
            font-size: 13px;
        }
    }

    .business-text {
        width: 936px; height: 100%;
        margin: 0 auto;
        margin-top: 95px;
        padding: 15px;
        border: 1px solid;
        background-color: $back_color;

        p {
            font-size: 13px;
            font-family: 'S-CoreDream-4Regular';
            color: #606060;
        }
    }
}

//-------------------- footer --------------------//
footer {
    width: 100%;
    margin-top: 80px;

    //----- flex-box 재진 -----//
    .flex-box {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 15px;
        width: 936px; height: 154px;
        background-color: $back_color;

        .footer-logo {
            width: 77px;
            line-height: 169px;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }

        .info-box {
            margin-left: 30px;
            .notice-menu {
                .title-flex {
                    display: flex; 
                    h4 {
                        margin-right: 20px;
                    }
                }

                margin-bottom: 30px;
            }

            nav {
                margin-bottom: 20px;
                .footer_info {
                    .footer-menu {
                        display: flex;
                        li {
                            font-size: 12px;
                            padding-right: 10px;
                            border-right: 1px solid $border_color;
                            &:first-child ~ li {
                                padding-left: 10px;
                            }

                            &:last-child {
                                border-right: 0;
                            }
                            
                            a {
                                color : $footer_color;
                            }
                        }
                    }
                }
            }

            address {
                text-align: left;
                font-size: 12px;
                font-family: 'S-CoreDream-3Light';
            }
        }
    }
}