* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: {
        size: 16px;
    }
}

ul,
ol {
    list-style: none;
    color: $font-color_1;
}

a {
    display: block;
    text-decoration: none;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

strong {
    font: {
        size: 12px;
        font-family: 'S-CoreDream-4Regular';
        color: $strong-color;
    }
    
}

span {
    display: block;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

h1 {
    font: {
        font-size: 24px;
        font-family: 'S-CoreDream-5Medium';
    }
}

h2 {
    font-size: 21px;
    font-family: 'S-CoreDream-5Medium';
}

h3 {
    font-size: 18px;
    font-family: 'S-CoreDream-5Medium';
}

h4 {
    font-size: 16px;
    display: block;
}

h5 {
    font-size: 14px;
    color: $font-color;
}

p {
    font-size: 14px;
    font-family: 'S-CoreDream-4Regular';
    color: $font-color_1;
}

address {
    font-style: normal;

    font: {
        size: 14px;
    }
    color: #606060;
}