* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  width: 100%;
  max-width: 936px;
  margin: 0 auto;
}

body {
  width: 1920px;
}

header {
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 40px;
  font-family: 'S-CoreDream-6Bold';
  color: #777;
}

span {
  color: black;
  font-family: 'S-CoreDream-6Bold';
}

h2 {
  font-size: 24px;
  font-family: 'S-CoreDream-5Medium';
}

p {
  font-size: 16px;
  font-family: 'S-CoreDream-5Medium';
}

address {
  font-style: normal;
  font-size: 14px;
  color: #606060;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-1Thin';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-6Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-8Heavy';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  position: relative;
}

header .logo-login-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20px;
  left: 15px;
}

header .logo-login-flexbox .login {
  border-radius: 3px;
  background: white;
  border: 2px solid white;
  font-family: 'S-CoreDream-4Regular';
  padding: 5px 15px;
  margin-left: 25px;
  color: black;
}

header .logo-login-flexbox .logo {
  padding: 7px 15px;
}

header .logo-login-flexbox .logo img {
  width: 100px;
}

main .sect-audio-movie h1 {
  padding: 120px 0 25px;
}

main .sect-audio-movie h2 {
  padding: 43px 0 26px;
}

main .sect-audio-movie p {
  color: #606060;
}

main .sect-asmr h1 {
  padding: 120px 0 35px;
}

main .sect-asmr p {
  padding-bottom: 25px;
  font-size: 22px;
  color: #606060;
}

main .sect-asmr .asmr-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .sect-asmr .asmr-flexbox .transbox {
  position: relative;
  margin: 10px 0;
}

main .sect-asmr .asmr-flexbox .transbox:hover {
  opacity: 0.5;
  border: 1px solid gray;
}

main .sect-asmr .asmr-flexbox .transbox .txt {
  position: absolute;
  top: 15px;
  left: 70px;
}

main .sect-asmr .asmr-flexbox .transbox img {
  display: block;
  width: 100%;
}

main .sect-more h1 {
  padding: 120px 0 25px;
}

main .sect-more .more-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .sect-more .more-flexbox .transbox {
  position: relative;
}

main .sect-more .more-flexbox .transbox:hover {
  opacity: 0.5;
  border: 1px solid gray;
}

main .sect-more .more-flexbox .transbox img {
  display: block;
  width: 456px;
  height: 456px;
}

main .sect-more .more-flexbox .transbox .txt {
  position: absolute;
  bottom: 30px;
  left: 15px;
  right: 15px;
}

main .sect-more .more-flexbox .transbox .txt a {
  line-height: 23px;
}

main .sect-more .more-flexbox .transbox .txt a h2 {
  line-height: 27px;
  padding-bottom: 25px;
}

main .sect-more .end {
  padding: 200px 0 84px;
  text-align: center;
}

main .sect-more .end p {
  font-size: 30px;
}

main .sect-more .button {
  text-align: center;
}

main .sect-more .button a {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50px;
  background-color: black;
  padding: 15px 20px;
}

footer {
  width: 100%;
  margin-top: 80px;
  padding-left: 348px;
  padding-right: 348px;
  text-align: center;
}

footer .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  width: 936px;
  height: 154px;
  background-color: #fff;
}

footer .flex-box .footer-logo {
  width: 75px;
  line-height: 220px;
}

footer .flex-box .footer-logo a {
  width: 100%;
}

footer .flex-box .footer-logo a img {
  width: 100%;
}

footer .flex-box .info-box {
  margin-left: 30px;
}

footer .flex-box .info-box .notice-menu {
  margin-bottom: 30px;
}

footer .flex-box .info-box .notice-menu .title-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex-box .info-box .notice-menu .title-flex h4 {
  margin-right: 20px;
}

footer .flex-box .info-box .notice-menu .title-flex h4 a {
  color: black;
}

footer .flex-box .info-box nav {
  margin-bottom: 20px;
}

footer .flex-box .info-box nav .footer_info .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex-box .info-box nav .footer_info .footer-menu li {
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #606060;
}

footer .flex-box .info-box nav .footer_info .footer-menu li:first-child ~ li {
  padding-left: 10px;
}

footer .flex-box .info-box nav .footer_info .footer-menu li:last-child {
  border-right: 0;
}

footer .flex-box .info-box nav .footer_info .footer-menu li a {
  color: black;
}

footer .flex-box .info-box address {
  text-align: left;
  font-size: 12px;
  font-family: 'S-CoreDream-3Light';
}
/*# sourceMappingURL=stereo.css.map */