* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    // background-color:beige;
    width: 100%; // 모바일, 테블릿
    max-width: 936px; // pc
    margin: 0 auto;
}

header {
    width: 100%;
}

ul,
ol,
li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 40px;
    font-family:'S-Core Dream';
    color: #777;
}

span {
    color: black;
}

h2 {
    font-size: 24px;
    font-family:'S-Core Dream';
}

p {
    font-size: 16px;
    font-family:'S-Core Dream';
}

address {
    font: {
        style: normal;
        size: 14px;
    }
    color: #606060;
}

