@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// ========= header =========
header {
    position: relative;
    .logo-login-flexbox {
        display: flex;
        position: absolute;
        top: 20px;
        left: 15px;
        .login {
            border-radius: 3px;
            background: white;
            border: 2px solid white;
            font-family: 'S-CoreDream-4Regular';
            padding: 5px 15px;
            color: black;
        }

        .logo {
            padding: 7px 15px;
            img {
                width: 100px;
            }
        }
    }
} // header

//========= main =========
main {
    .sect-audio-movie {
        h1 {
            padding: 120px 0 25px;
        }
        h2 {
            padding: 43px 0 26px;
        }
    }

    .sect-asmr {
        h1 {
            padding: 120px 0 35px;
        }
        p {
            padding-bottom: 25px;
            font-size: 24px;
        }

        .asmr-flexbox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .transbox {
                // text-align: center;
                position: relative;
                .txt {
                    position: absolute;
                    top: 15px;
                    left: 70px;
                }
                img {
                    width: 295px;
                    height: 295px;
                }
            }
        }
    }

    .sect-more {
        h1 {
            padding: 120px 0 25px;
        }
        .more-flexbox {
            display: flex;
            justify-content: space-between;
            .transbox {
                position: relative;
                img {
                    width: 456px;
                    height: 456px;
                }
                .txt {
                    position: absolute;
                    bottom: 30px;
                    left: 15px;
                    right: 15px;
                    a {
                        line-height: 23px;
                        h2 {
                            line-height: 27px;
                            padding-bottom: 25px;
                        }
                    }
                }
            }
        } //more-flexbox

        .end {
            padding: 200px 0 84px;
            text-align: center;
            p {
                font-size: 30px;
            }
        } //end

        .button {
            text-align: center;
            a {
                display: inline-block;
                border: 1px solid black;
                border-radius: 50px;
                background-color: black;
                padding: 15px 20px;
            }
        }
    } //sect-more
} //main

//-------------------- footer --------------------//
footer {
    width: 100%;
    margin-top: 80px;
    padding-left: 348px;
    padding-right: 348px;
    text-align: center;
    // background-color: antiquewhite;

    .flex-box {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: 936px; height: 154px;
        background-color: $back_color;

        .footer-logo {
            width: 75px;
            line-height: 220px;
            a {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }

        .info-box {
            margin-left: 30px;
            .notice-menu {
                .title-flex {
                    display: flex; 
                    h4 {
                        margin-right: 20px;
                        a {
                            color: black;
                        }
                    }
                }

                margin-bottom: 30px;
            }

            nav {
                margin-bottom: 20px;
                .footer_info {
                    .footer-menu {
                        display: flex;
                        li {
                            font-size: 12px;
                            padding-right: 10px;
                            border-right: 1px solid $border_color;
                            &:first-child ~ li {
                                padding-left: 10px;
                            }

                            &:last-child {
                                border-right: 0;
                            }

                            a {
                                color: black;
                            }
                        }
                    }
                }
            }

            address {
                text-align: left;
                font-size: 12px;
                font-family: 'S-CoreDream-3Light';
            }
        }
    }
}
