$h1-size: 26px;
$h1-family: BM DoHyeon;
$h1-weight: lighter;

$a-color: white;

$font-color: white;

$footer_color: #606060;
$border_color: #606060;

$font-1: 'S-Core Dream 1 Thin';
$font-2: 'S-Core Dream 2 ExtraLight';
$font-3: 'S-Core Dream 3 Light';
$font-4: 'S-Core Dream 4 Regular';
$font-5: 'S-Core Dream 5 Medium';
$font-6: 'S-Core Dream 6 Bold';
$font-7: 'S-Core Dream 7 ExtraBold';
$font-8: 'S-Core Dream 8 Heavy';
$font-9: 'S-Core Dream 9 Black';

$break-mobile: 320px;
$break-tablet: 768px;
$break-pc: 1024px;