* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 16px;
}

main {
  position: relative;
}

ul,
ol {
  list-style: none;
  color: #606060;
}

a {
  display: block;
  text-decoration: none;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

strong {
  font-size: 12px;
  font-family: "S-Core Dream 4 Regular";
  font-color: #333;
}

span {
  display: block;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

h1 {
  font-font-size: 24px;
  font-font-family: "S-Core Dream 5 Medium";
}

h2 {
  font-size: 21px;
  font-family: "S-Core Dream 5 Medium";
}

h3 {
  font-size: 18px;
  font-family: "S-Core Dream 5 Medium";
}

h4 {
  font-size: 16px;
  display: block;
}

h5 {
  font-size: 14px;
  color: #fff;
}

p {
  font-size: 14px;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

address {
  font-style: normal;
  font-size: 14px;
  color: #606060;
}

body {
  width: 100%;
}

header {
  width: 100%;
}

header .logo {
  width: 100%;
}

header .logo img {
  margin: 55px 0;
  height: 32px;
}

main {
  width: 100%;
}

main .find_pw-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .find_pw-flex .find_pw-page {
  width: 320px;
  height: 554px;
  padding: 0 12px;
  border: 1px solid #7b8892;
  background-color: #fff;
}

main .find_pw-flex .find_pw-page .id-pw-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #7b8892;
}

main .find_pw-flex .find_pw-page .id-pw-find .id {
  width: 148px;
  border-right: 1px solid #7b8892;
}

main .find_pw-flex .find_pw-page .id-pw-find .id a {
  line-height: 39px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
}

main .find_pw-flex .find_pw-page .id-pw-find .pw {
  width: 148px;
}

main .find_pw-flex .find_pw-page .id-pw-find .pw a {
  line-height: 39px;
  font-size: 13px;
  font-family: "S-Core Dream 5 Medium";
  color: #8a2ae3;
}

main .find_pw-flex .find_pw-page .pw-find-text {
  margin: 30px 0;
}

main .find_pw-flex .find_pw-page .pw-find-text P {
  line-height: 26px;
  font-size: 13px;
}

main .find_pw-flex .find_pw-page .data {
  margin-bottom: 30px;
}

main .find_pw-flex .find_pw-page .data label {
  width: 100%;
  height: 40px;
  font-size: 13px;
  font-family: "S-Core Dream 4 Regular";
  margin-right: 16px;
}

main .find_pw-flex .find_pw-page .data label:last-child {
  margin-right: 0;
}

main .find_pw-flex .find_pw-page .id-pw input {
  margin-bottom: 8px;
  border: 1px solid #7b8892;
  text-align: left;
  width: 100%;
  height: 40px;
  font-family: "S-Core Dream 4 Regular";
  font-size: 13px;
  color: #7b8892;
}

main .find_pw-flex .find_pw-page .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 40px;
}

main .find_pw-flex .find_pw-page .number input {
  border: 1px solid #7b8892;
  text-align: left;
  width: 200px;
  height: 40px;
  font-family: "S-Core Dream 4 Regular";
  font-size: 13px;
  color: #7b8892;
}

main .find_pw-flex .find_pw-page .number button {
  width: 88px;
  height: 40px;
  color: #fff;
  border: 0;
  background-color: #8a2ae3;
}

main .find_pw-flex .find_pw-page .next-button {
  margin-top: 63px;
  width: 100%;
  height: 40px;
}

main .find_pw-flex .find_pw-page .next-button a {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #8a2ae3;
}

footer {
  width: 100%;
}

footer nav {
  width: 100%;
}

footer nav .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

footer nav .footer-menu li {
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #606060;
}

footer nav .footer-menu li:first-child ~ li {
  padding-left: 10px;
}

footer nav .footer-menu li:last-child {
  border-right: 0;
}

footer nav .footer-menu li a {
  color: #606060;
}

footer address {
  margin-top: 45px;
  font-size: 12px;
  font-family: "S-Core Dream 3 Light";
}
/*# sourceMappingURL=find_pw.css.map */