* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  color: #606060;
}

a {
  display: block;
  text-decoration: none;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

strong {
  font-size: 12px;
  font-family: "S-Core Dream 4 Regular";
  font-color: #333;
}

span {
  display: block;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

h1 {
  font-font-size: 24px;
  font-font-family: "S-Core Dream 5 Medium";
}

h2 {
  font-size: 21px;
  font-family: "S-Core Dream 5 Medium";
}

h3 {
  font-size: 18px;
  font-family: "S-Core Dream 5 Medium";
}

h4 {
  font-size: 16px;
  display: block;
}

h5 {
  font-size: 14px;
  color: #fff;
}

p {
  font-size: 14px;
  font-family: "S-Core Dream 4 Regular";
  color: #606060;
}

address {
  font-style: normal;
  font-size: 14px;
  color: #606060;
}

body {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

header .web_menu {
  position: fixed;
  left: 0;
  width: 288px;
  height: 100%;
  padding: 50px 18px 30px 30px;
  background-color: #fff;
  border-right: 1px solid #606060;
  z-index: 999;
}

header .web_menu .logo {
  width: 100%;
  text-align: center;
}

header .web_menu .logo img {
  height: 46px;
}

header .web_menu .log {
  width: 100%;
  margin-top: 60px;
}

header .web_menu .log .logout {
  display: block;
  margin-bottom: 30px;
}

header .web_menu .log .logout .logout_img img {
  width: 75px;
  height: 75px;
}

header .web_menu .log .logout .login_button {
  margin-top: 20px;
  width: 150px;
  height: 33px;
  border: 3px solid #8a2ae3;
}

header .web_menu .log .logout .login_button a {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #8a2ae3;
}

header .web_menu .log .logout .login_button a img {
  margin-right: 5px;
  height: 13px;
}

header .web_menu .log .login {
  display: none;
  margin-bottom: 30px;
}

header .web_menu .log .login .login_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .web_menu .log .login .login_img img {
  width: 75px;
  height: 75px;
}

header .web_menu .log .login .login_img p {
  margin-left: 10px;
  line-height: 95px;
  font-size: 14px;
}

header .web_menu .log .login .login_img p strong {
  margin-right: 5px;
  font-size: 14px;
}

header .web_menu .log .login .logout_button {
  width: 150px;
  height: 33px;
  border: 1px solid #606060;
}

header .web_menu .log .login .logout_button a {
  text-align: center;
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 3px;
  color: #606060;
}

header .web_menu .search {
  width: 100%;
  height: 45px;
  border-radius: 15px;
  background-color: #f5f5f5;
}

header .web_menu .search .search_ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  line-height: 45px;
}

header .web_menu .search .search_ico img {
  margin-right: 10px;
  width: 16px;
  color: #606060;
}

header .web_menu .search .search_ico p {
  font-size: 14px;
}

header .web_menu .contents {
  margin-top: 50px;
  margin-bottom: 80px;
  width: 100%;
}

header .web_menu .contents .menu_1 .gnb_1 li a {
  font-size: 14px;
}

header .web_menu .contents .menu_1 .gnb_1 li a img {
  margin-right: 5px;
  width: 13px;
}

header .web_menu .contents .dotted_line {
  margin: 38px 0;
  width: 100%;
  border: 1px dashed #606060;
}

header .web_menu .contents .menu_2 .gnb_2 li a {
  font-size: 14px;
}

header .web_menu .contents .menu_2 .gnb_2 li a img {
  margin-right: 5px;
  width: 13px;
}

header .web_menu .contents .dotted_line {
  margin: 30px 0;
  width: 100%;
  border: 1px dashed #606060;
}

header .web_menu .contents .menu_3 .gnb_3 li a {
  margin-left: 18px;
  font-size: 14px;
}

header .web_menu .music_box {
  padding: 13px 5px;
  border: 2px solid #8a2ae3;
  width: 100%;
  height: 105px;
}

header .web_menu .music_box p {
  text-align: center;
  font-size: 12px;
}

header .web_menu .music_box .music_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .web_menu .music_box .music_time span {
  font-size: 10px;
}

header .web_menu .music_box .music_bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

header .web_menu .music_box .music_bar .bar_1 {
  position: absolute;
  border: 1px solid #bbb;
  width: 100%;
}

header .web_menu .music_box .music_bar .bar_2 {
  position: absolute;
  border: 1px solid #606060;
  width: 30%;
}

header .web_menu .music_box .music_bar .circle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30%;
  border-radius: 50%;
  background-color: #606060;
}

header .web_menu .music_box .music_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 6px;
}

header .web_menu .music_box .music_button img {
  height: 15px;
}

header .web_menu .music_box .music_button img:nth-child(3) {
  height: 18px;
}

main {
  position: absolute;
  right: 0;
  width: 85%;
  padding-left: 348px;
  padding-right: 348px;
  text-align: center;
  background-color: antiquewhite;
}

main .mymusic {
  padding-top: 50px;
  width: 936px;
  text-align: left;
}

main .mymusic h2 {
  border-left: 5px solid #8a2ae3;
  padding-left: 5px;
}

main .mymusic .right_button {
  text-align: right;
}

main .mymusic .right_button button {
  border: 0;
  width: 80px;
  height: 24px;
  background-color: #e8e8e8;
}

main .mymusic label {
  display: block;
  margin-bottom: 15px;
}

main .mymusic .music_list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 64px;
  border-top: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
  background-color: #fff;
}

main .mymusic .music_list1 label {
  margin: 0 24px;
}

main .mymusic .music_list1 img {
  width: 48px;
}

main .mymusic .music_list1 p {
  margin: 0 24px;
  width: 216px;
}

main .mymusic .music_list1 span {
  width: 400px;
  display: inline;
}

main .mymusic .music_list1 .mymusic_button {
  margin: 0 24px;
  width: 112px;
}

main .mymusic .music_list1 .mymusic_button button {
  width: 20px;
  height: 20px;
}

main .mymusic .music_list1 .mymusic_button button:nth-child(2) {
  margin: 0 20px;
}

main .mymusic .music_list1 .mymusic_button button:nth-child(3) {
  display: none;
}

main .mymusic .music_list1 .mymusic_button button img {
  width: 16px;
}

main .mymusic .more {
  text-align: center;
}

main .mymusic .more button {
  width: 96px;
  height: 32px;
  border: 0;
  border-radius: 10px;
}

main .myplaylist {
  margin-top: 85px;
  width: 936px;
  text-align: left;
}

main .myplaylist h2 {
  border-left: 5px solid #8a2ae3;
  padding-left: 5px;
  margin-bottom: 22px;
}

main .myplaylist .play_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .myplaylist .play_list .list a img {
  width: 136px;
}

main .artist {
  margin-top: 85px;
  width: 936px;
  text-align: left;
}

main .artist h2 {
  border-left: 5px solid #8a2ae3;
  padding-left: 5px;
  margin-bottom: 22px;
}

main .artist .artist_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .artist .artist_list .list a:hover {
  border-radius: 100px;
  background-color: #000;
}

main .artist .artist_list .list a img {
  display: block;
  width: 136px;
  border-radius: 100px;
}

main .artist .artist_list .list a img:hover {
  background-color: #000;
  opacity: 0.5;
}

main .artist .artist_list .list .list_heart button {
  border: 0;
  border-radius: 100px;
}

main .artist .artist_list .list .list_heart button img {
  width: 36px;
}

main .artist .artist_list .list .list_text p {
  text-align: center;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 85%;
  padding-left: 348px;
  padding-right: 348px;
  text-align: center;
  background-color: violet;
}

footer .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  width: 936px;
  height: 154px;
  background-color: #fff;
}

footer .flex-box .footer-logo {
  width: 77px;
  line-height: 169px;
}

footer .flex-box .footer-logo a {
  width: 100%;
}

footer .flex-box .footer-logo a img {
  width: 100%;
}

footer .flex-box .info-box {
  margin-left: 30px;
}

footer .flex-box .info-box .notice-menu {
  margin-bottom: 30px;
}

footer .flex-box .info-box .notice-menu .title-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex-box .info-box .notice-menu .title-flex h4 {
  margin-right: 20px;
}

footer .flex-box .info-box nav {
  margin-bottom: 20px;
}

footer .flex-box .info-box nav .footer_info .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex-box .info-box nav .footer_info .footer-menu li {
  font-size: 12px;
  padding-right: 10px;
  border-right: 1px solid #606060;
}

footer .flex-box .info-box nav .footer_info .footer-menu li:first-child ~ li {
  padding-left: 10px;
}

footer .flex-box .info-box nav .footer_info .footer-menu li:last-child {
  border-right: 0;
}

footer .flex-box .info-box nav .footer_info .footer-menu li a {
  color: #606060;
}

footer .flex-box .info-box address {
  font-size: 12px;
  font-family: "S-Core Dream 3 Light";
}
/*# sourceMappingURL=myhome.css.map */